References/n_beats/n-beats_base/examples/__pycache__
# Drafts/demo_structure/model/1. BNB/BNB_encoded.csv
# Drafts/demo_structure/model/2. GNB/GNB_encoded.csv
# Drafts/demo_structure/model/3. MNB/MNB_encoded.csv
# Drafts/Temp Prediction/data/processed/test_cleaned.csv
# Drafts/Temp Prediction/data/processed/train_cleaned.csv
# Drafts/Temp Prediction/data/raw/train.csv
# Drafts/Temp Prediction/data/raw/test.csv
References/n_beats/n-beats_base/nbeats_pytorch/__pycache__
References/n_beats/n-beats_base/nbeats_keras/__pycache__
References/n_beats/n-beats_base/examples/tempCodeRunnerFile.py
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_SurPres_1990_2002.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_SurPres_2003_2015.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_SurPres_2016_2024.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_TotalCloud_1990_2002.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_TotalCloud_2003_2015.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_TotalCloud_2016_2024.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_TotalPre_1990_2002.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_TotalPre_2003_2015.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_TotalPre_2016_2024.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_u10_1990_2002.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_u10_2003_2015.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_u10_2016_2024.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_v10_1990_2002.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_v10_2003_2015.grib
Drafts/Temp Prediction/data/raw/Ca Mau/.grib/CM_v10_2016_2024.grib
#Drafts/Temp Prediction/data/raw/DATA_ERA5.zip
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_SurPres_1990_2002.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_SurPres_2003_2015.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_SurPres_2016_2024.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_TotalCloud_1990_2002.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_TotalCloud_2003_2015.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_TotalCloud_2016_2024.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_TotalPre_1990_2002.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_TotalPre_2003_2015.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_TotalPre_2016_2024.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_u10_1990_2002.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_u10_2003_2015.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_u10_2016_2024.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_v10_1990_2002.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_v10_2003_2015.grib
Drafts/Temp Prediction/data/raw/Noi Bai/.grib/NB_v10_2016_2024.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_SurPres_1990_2002.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_SurPres_2003_2015.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_SurPres_2016_2024.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_TotalCloud_1990_2002.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_TotalCloud_2003_2015.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_TotalCloud_2016_2024.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_TotalPre_1990_2002.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_TotalPre_2003_2015.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_TotalPre_2016_2024.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_u10_1990_2002.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_u10_2003_2015.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_u10_2016_2024.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_v10_1990_2002.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_v10_2003_2015.grib
Drafts/Temp Prediction/data/raw/Quy Nhon/.grib/QN_v10_2016_2024.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_Press_1990_2002.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_Press_2003_2015.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_Press_2016_2024.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_TotalCloud_1990_2002.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_TotalCloud_2003_2015.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_TotalCloud_2016_2024.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_TotalPre_1990_2002.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_TotalPre_2003_2015.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_TotalPre_2016_2024.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_u10_1990_2002.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_u10_2003_2015.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_u10_2016-2023.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_v10_1990_2002.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_v10_2003_2015.grib
Drafts/Temp Prediction/data/raw/TSN/.grib/TSN_v10_2016_2023.grib
Drafts/Temp Prediction/src/tempCodeRunnerFile.py
Drafts/Temp Prediction/src/__pycache__/dataset.cpython-311.pyc
Drafts/Temp Prediction/src/__pycache__/dataset.cpython-311.pyc
/Drafts/Temp Prediction/data/raw/TSN
/Drafts/Temp Prediction/data/raw/Ca Mau
/Drafts/Temp Prediction/data/raw/Noi Bai
/Drafts/Temp Prediction/data/raw/Quy Nhon
Drafts/Temp Prediction/src/__pycache__/dataset.cpython-311.pyc
Drafts/Temp Prediction/notebooks/tempCodeRunnerFile.ipynb
/Drafts/Temp Prediction/data/processed/merged
/Drafts/Temp Prediction/src/__pycache__
/Drafts/Temp Prediction/src/__pycache__
/Drafts/Temp Prediction/data/processed/datasets
/Drafts/Temp Prediction/src/__pycache__
/Drafts/Temp Prediction/src/__pycache__
Drafts/Temp Prediction/src/__pycache__/dataset.cpython-311.pyc
Drafts/Temp Prediction/src/__pycache__/features.cpython-311.pyc
Drafts/Temp Prediction/src/__pycache__/plots.cpython-311.pyc
Drafts/Temp Prediction/models/trained_models
/Drafts/Temp Prediction/data/processed/datasets_encoded
/Drafts/Temp Prediction/data/raw/Dong Hoi
/Drafts/Temp Prediction/data/raw/Thanh Hoa
/References/NCKH-main
/References/tensorflow-deep-learning-main/model_experiments
/References/tensorflow-deep-learning-main/model_7_N-BEATS
Drafts/Temp Prediction/models/checkpoints/ML/Random Forest/shap_values_fit.pkl
Drafts/Temp Prediction/models/checkpoints/ML/Random Forest/shap_values_pred.pkl
Drafts/Temp Prediction/models/checkpoints/ML/Random Forest/scaler.pkl
/Drafts/Temp Prediction/scripts/__pycache__
/Drafts/Temp Prediction/src/utilities/__pycache__
/Drafts/Temp Prediction/src/models/__pycache__
/Drafts/Temp Prediction/src/models/__pycache__
Drafts/Temp Prediction/models/checkpoints/ML/XgBoost/shap_values_fit.pkl
Drafts/Temp Prediction/models/checkpoints/ML/XgBoost/shap_values_pred.pkl
Drafts/Temp Prediction/models/checkpoints/ML/XgBoost/scaler.pkl
Drafts/Temp Prediction/models/checkpoints/ML/XgBoost/~$XGBOOST_Tuning.xlsx
Drafts/Temp Prediction/models/LSTMAutoencoders
*.pkl
/Drafts/Temp Prediction/notebooks/3.2. DL_model/lightning_logs
/Drafts/Temp Prediction/outputs

Final/backend/__pycache__
Final/backend/modules/analytics/__pycache__
Final/backend/modules/analytics/Country/__pycache__
Final/backend/modules/analytics/Product/__pycache__
Final/backend/routes/__pycache__
Final/frontend/pages/analysis/__pycache__
Final/frontend/pages/predict/__pycache__
Final/frontend/pages/author/__pycache__
Final/frontend/components/__pycache__
Final/backend/modules/analysis/__pycache__
Final/backend/modules/Model/__pycache__
Final/backend/modules/Product/__pycache__
Final/backend/modules/Station/__pycache__
Final/frontend/pages/forecast/__pycache__
Final/frontend/pages/architecture/__pycache__
Final/frontend/pages/model_performance/__pycache__
Drafts/Temp Prediction/data/34_provinces_VN/34_provinces_VN.cpg
Drafts/Temp Prediction/data/34_provinces_VN/34_provinces_VN.dbf
Drafts/Temp Prediction/data/34_provinces_VN/34_provinces_VN.prj
Drafts/Temp Prediction/data/34_provinces_VN/34_provinces_VN.shp
Drafts/Temp Prediction/data/34_provinces_VN/34_provinces_VN.shx

Final/frontend/pages/overview/__pycache__/eight.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/eight.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/__init__.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/__init__.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/eight.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/four.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/one.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/references.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/seven.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/six.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/three.cpython-310.pyc
Final/frontend/pages/overview/__pycache__/two.cpython-310.pyc
Final/frontend/routes/__pycache__/nav.cpython-310.pyc

edas
/Final/frontend/pages/overview/__pycache__
*.pyc
