ipykernel
# numba

numpy==1.26.4

pandas==2.3.3
openpyxl
# cudf-cu12 <~> compute capability 7.0+
# polars

scikit-learn==1.7.1
# cuml-cu12
tensorflow<2.11
xgboost==3.1.1
darts==0.38.0
pytorch-forecasting==1.5.0
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126
matplotlib
seaborn
statsmodels
keract
torch 
torchvision 
torchaudio
cfgrib
xarray
metpy
plotly
scipy
prophet
hdbscan
pydot==2.0.0
graphviz # <~> OUTofDATE <~> use conda instead
# conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0
# conda install -c conda-forge graphviz=2.50.0
geopandas

shap
# lime