ipykernel
numpy<2
pandas
matplotlib
seaborn
scikit-learn
xgboost
statsmodels
tensorflow<2.11
keract
torch 
torchvision 
torchaudio
cfgrib
xarray
metpy
plotly
scipy
prophet
hdbscan
pydot==2.0.0
graphviz # ~> exe
# conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0
# conda install -c conda-forge graphviz=2.50.0